@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 7px;
    color: white;
    font-weight: bold;
    font-size:20px;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    /* letter-spacing: 1px; */
}
.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    list-style: none;
    display:flex;
    align-items: center;
}
.navigation > li{
    margin-right:50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}